.board {
  display: grid;
  justify-content: center;
  align-items: stretch;
  gap: 5px;
}

@media (min-width: 481px) {
  .board {
    gap: 10px;
  }
}

@media (min-width: 769px) {
  .board {
    gap: 15px;
  }
}

@media (min-width: 1025px) {
  .board {
    gap: 20px;
  }
}

@media (min-width: 1201px) {
  .board {
    gap: 25px;
  }
}
